body { background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main {
    border: 1px solid red;
    width: 250px ;
    padding: 15px;
    background-color: white;
}
h1 {
    font-size: 20px;
    color:hsl(218, 44%, 22%);
    text-align: center;
}